.header {
    background: white;
}


/* Logo + Title */
.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.logo img {
    width: 120px;
    height: auto;
    margin-right: 25px;
}


.title-area h1 {
    margin: 0;
    font-size: 32px;
    color: #7b0000;
    font-weight: bold;
}


.title-area p {
    margin-top: 8px;
    font-size: 20px;
    color: #444;
    font-style: italic;
}


/* Navigation */

.navbar {
    background: #7b0000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar a {
    color: white;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 16px;
}


.navbar a:hover {
    background: #d4af37;
    color: black;
}
